<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>{{title}}</h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Notificaton dialogs</h3>
    </div>
    <div class="box-body">
      <a href="#" class="fa fa-check js-success btn btn-success">Success</a>
      <a href="#" class="fa fa-info js-info btn btn-info">Info</a>
      <a href="#" class="fa fa-warning js-warning btn btn-warning">Warning</a>
      <a href="#" class="fa fa-ban js-error btn btn-danger">Error</a>
    </div>
  </div>

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Popup dialogs</h3>
    </div>
    <div class="box-body">
      <a href="#" class="js-popup-default btn btn-default">Default</a>
      <a href="#" class="fa js-popup-success btn btn-success">Success</a>
      <a href="#" class="fa js-popup-info btn btn-info">Info</a>
      <a href="#" class="fa js-popup-warning btn btn-warning">Warning</a>
      <a href="#" class="fa js-popup-danger btn btn-danger">Danger</a>
    </div>
  </div>

</section>
<!-- /.content -->
