<div>
  <input class="js-todo" type="text" placeholder="Type todo title" autofocus />
  <button class="js-todo-add">Add</button>
  <button class="js-filter">Filter marked</button>
</div>
<ul class="js-todos-list"></ul>
